:root {
    --Primary-100: #E6F1FC ;
    --Primary-200: #B0D4F7 ;
    --Primary-300: #0073E5 ;
    --Primary-400: #0056AC ;
    --Primary-500: #003467 ;
    --Text-100: #CFCFCF;
    --Text-200: #BDBDBD;
    --Text-300: #909090;
    --Text-400: #000000;
    --Surface-100: #FFFFFF; 
    --Surface-200: #F5F5F5;
    --Surface-300: #EBEBEB;
    --Border-100: #E4E7EC;
    --Border-200: #E1E1E1;
    --Border-300: #000000;
    --System-success: #1CC100;
    --System-error: #FB3B3B;
    --System-warning: #FF961C;
    --Static-white:#FFFFFF;
    --Static-black:#000000; 
}