// @use '../assets/scss/mixins' as *;
// @use '../assets/scss/fonts' as *;
// @use '../assets/scss/variables' as *;

// .cart-page {
//   margin: 0 auto;
//   max-width: 1024px;
//   padding: 2rem;
//   background: var(--Surface-100);

//   .cart-title {
//     @include title-h1();
//     text-align: left;

//     @media (max-width:768px) {
//       text-align: center;
//       @include subtitle-L();
//     }
//   }

//   .cart-layout {
//     display: grid;
//     grid-template-columns: 1fr;
//     gap: 18px;

//     @media (min-width: 1024px) {
//       grid-template-columns: 1fr 380px;
//       align-items: start;
//     }
//   }

//   .cart-card {
//     border: 1px solid #e4e7ec;
//     background: #fff;
//     overflow: hidden;

//     .cart-toolbar {
//       @include flex-layout(row, space-between, center, 1rem);
//       padding: 0.5rem 1rem;
//       background: var(--Surface-200);

//       .check {
//         display: inline-flex;
//         align-items: center;
//         gap: 8px;
//         @include body-M();
//         color: var(--Text-400);

//         input {
//           width: 24px;
//           height: 24px;
//         }
//       }

//       .delete-btn {
//         @include body-M();
//         color: var(--Text-300);
//         border-color: var(--Border-200);
//         background-color: var(--Static-white);
//         padding: 0.2rem 0.5rem;
//       }
//     }
//   }


// }




// .cart-list {
//   padding: 0.5rem 0;

//   .brand {
//     @include subtitle-L();
//     color: var(--Text-400);
//     margin: 0 0 0.5rem 1rem;
//     padding: 0.5rem;
//   }

//   .cart-item {
//     @include flex-layout(row, flex-start, center, 1rem);
//     padding: 1rem;
//     border-bottom: 1px solid var(--Border-100);
//     border-top: 1px solid var(--Border-100);

//     input {
//       width: 24px;
//       height: 24px;
//     }


//     &:last-child {
//       border-bottom: none;
//     }
//   }

//   /* 이미지(일단 빈 박스) */
//   .list-img {
//     width: 86px;
//     height: 86px;
//     background: var(--Surface-200);
//     overflow: hidden;

//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       display: block;
//     }
//   }

//   .item-info {
//     width: 100%;
//     min-width: 0;

//     .sameline {
//       @include flex-layout(row, space-between, "", 2rem);
//       padding: 0.5rem;
//     }

//     .item-title {
//       @include body-M();

//     }

//     .sub-title {
//       @include body-S();
//       color: var(--Text-300);
//       margin: 0 0.5rem 12px;
//     }
//   }


//   /* 수량 + 가격 영역 */
//   .item-row {
//     @include flex-layout(row, space-between, center, 0.8rem);

//     @media (max-width: 520px) {
//       justify-content: space-between;
//       gap: 5.5rem;
//       align-items: flex-start;
//     }

//     .count {
//       display: inline-flex;
//       align-items: center;
//       border: 0.5px solid var(--Primary-100);
//     }

//     .count-btn {
//       width: 26px;
//       height: 26px;
//       border: none;
//       background: none;
//       color: var(--Primary-300);
//       cursor: pointer;

//       i {
//         font-size: 20px;
//       }

//       &:first-child {
//         border-right: 0.5px solid var(--Primary-100);
//       }

//       &:last-child {
//         border-left: 0.5px solid var(--Primary-100);
//       }
//     }

//     .count-num {
//       width: 28px;
//       text-align: center;
//       @include subtitle-M();
//     }

//     .prices {
//       text-align: right;

//       @media (max-width: 520px) {
//         text-align: left;
//         width: 100%;
//       }

//       .sum {
//         @include subtitle-M();
//         color: var(--Text-400);
//       }
//     }

//   }

//   .remove {
//     border: none;
//     background: none;
//     cursor: pointer;

//     i {
//       color: var(--Text-200);
//     }
//   }

// }



// .mini-summary {
//   padding: 14px 16px;
//   border-top: 1px solid #e4e7ec;
//   background: #fff;
//   @include body-M();
//   color: var(--Static-black);

//   .row-txt {
//     @include flex-layout(row, space-between, center);
//     padding: 8px 0;

//     &.total {

//       padding-top: 12px;

//       span:nth-child(2) {
//         @include subtitle-M();
//       }
//     }
//   }
// }




// .cart-right {
//   @media (min-width: 1024px) {
//     position: sticky;
//     top: 80px;
//   }


//   .summary-card {
//     border: 1px solid var(--Border-200);
//     padding: 18px 16px;
//     @include body-L();
//     color: var(--Static-black);
//     @media

//     .summary-title {
//       @include subtitle-L();
//       margin-bottom: 14px;

//     }

//     .summary-row {
//       @include flex-layout(row, space-between, center);
//       padding: 10px 0;
//       white-space: nowrap;

//       .dashed {
//         padding-bottom: 1rem;

//       }

//     }

//     .summary-divider {
//       height: 1px;
//       margin: 10px 0 6px;
//       border-bottom: 1px dashed var(--Border-200);
//     }

//     .summary-total {
//       @include flex-layout(row, space-between, center);
//       padding: 14px 0 12px 1rem;
//       @include subtitle-L();
//       border-bottom: 1px solid var(--Border-100);

//       span:nth-child(2) {
//         @include title-h4();
//       }
//     }

//     .order-btn-wrap {
//       padding: 1.5rem;

//       .order-btn {
//         border: none;
//         padding: 0.8rem 1rem;
//         cursor: pointer;
//         width: 100%;
//         background: var(--Primary-300);
//         color: var(--Static-white);
//       }
//     }

//   }
// }


// /* 할인 */
// .red-txt {
//   color: var(--System-error);
// }

// .gray-txt {
//   margin-left: 4px;
//   color: var(--Text-200);
// }

@use '../assets/scss/mixins' as *;
@use '../assets/scss/fonts' as *;
@use '../assets/scss/variables' as *;

.cart-page {
  margin: 0 auto;
  max-width: 1024px;
  padding: 2rem;
  background: var(--Surface-100);

  .cart-title {
    @include title-h1();
    text-align: left;

    @media (max-width:768px) {
      text-align: center;
      @include subtitle-L();
    }
  }

  .cart-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 380px;
      align-items: start;
    }
  }

  .cart-card {
    border: 1px solid #e4e7ec;
    background: #fff;
    overflow: hidden;

    .cart-toolbar {
      @include flex-layout(row, space-between, center, 1rem);
      padding: 0.5rem 1rem;
      background: var(--Surface-200);

      .check {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        @include body-M();
        color: var(--Text-400);

        input {
          width: 24px;
          height: 24px;
        }
      }

      .delete-btn {
        @include body-M();
        color: var(--Text-300);
        border-color: var(--Border-200);
        background-color: var(--Static-white);
        padding: 0.2rem 0.5rem;
      }
    }
  }


}




.cart-list {
  padding: 0.5rem 0;

  .brand {
    @include subtitle-L();
    color: var(--Text-400);
    margin: 0 0 0.5rem 1rem;
    padding: 0.5rem;
  }

  .cart-item {
    @include flex-layout(row, flex-start, center, 1rem);
    padding: 1rem;
    border-bottom: 1px solid var(--Border-100);
    border-top: 1px solid var(--Border-100);

    input {
      width: 24px;
      height: 24px;
    }


    &:last-child {
      border-bottom: none;
    }
  }

  /* 이미지(일단 빈 박스) */
  .list-img {
    width: 86px;
    height: 86px;
    background: var(--Surface-200);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .item-info {
    width: 100%;
    min-width: 0;

    .sameline {
      @include flex-layout(row, space-between, "", 2rem);
      padding: 0.5rem;
    }

    .item-title {
      @include body-M();

    }

    .sub-title {
      @include body-S();
      color: var(--Text-300);
      margin: 0 0.5rem 12px;
    }
  }


  /* 수량 + 가격 영역 */
  .item-row {
    @include flex-layout(row, space-between, center, 0.8rem);

    @media (max-width: 520px) {
      justify-content: space-between;
      gap: 5.5rem;
      align-items: flex-start;
    }

    .count {
      display: inline-flex;
      align-items: center;
      border: 0.5px solid var(--Primary-100);
    }

    .count-btn {
      width: 26px;
      height: 26px;
      border: none;
      background: none;
      color: var(--Primary-300);
      cursor: pointer;

      i {
        font-size: 20px;
      }

      &:first-child {
        border-right: 0.5px solid var(--Primary-100);
      }

      &:last-child {
        border-left: 0.5px solid var(--Primary-100);
      }
    }

    .count-num {
      width: 28px;
      text-align: center;
      @include subtitle-M();
    }

    .prices {
      text-align: right;

      @media (max-width: 520px) {
        text-align: left;
        width: 100%;
      }

      .sum {
        @include subtitle-M();
        color: var(--Text-400);
      }
    }

  }

  .remove {
    border: none;
    background: none;
    cursor: pointer;

    i {
      color: var(--Text-200);
    }
  }

}



.mini-summary {
  padding: 14px 16px;
  border-top: 1px solid #e4e7ec;
  background: #fff;
  @include body-M();
  color: var(--Static-black);

  .row-txt {
    @include flex-layout(row, space-between, center);
    padding: 8px 0;

    &.total {

      padding-top: 12px;

      span:nth-child(2) {
        @include subtitle-M();
      }
    }
  }
}




.cart-right {
  @media (min-width: 1024px) {
    position: sticky;
    top: 80px;
  }


  .summary-card {
    border: 1px solid var(--Border-200);
    padding: 18px 16px;
    @include body-L();
    color: var(--Static-black);


    .summary-title {
      @include subtitle-L();
      margin-bottom: 14px;

    }

    .summary-row {
      @include flex-layout(row, space-between, center);
      padding: 10px 0;
      white-space: nowrap;

      .dashed {
        padding-bottom: 1rem;

      }

    }

    .summary-divider {
      height: 1px;
      margin: 10px 0 6px;
      border-bottom: 1px dashed var(--Border-200);
    }

    .summary-total {
      @include flex-layout(row, space-between, center);
      padding: 14px 0 12px 1rem;
      @include subtitle-L();
      border-bottom: 1px solid var(--Border-100);

      span:nth-child(2) {
        @include title-h4();
      }
    }

    .order-btn-wrap {
      padding: 1.5rem;

      .order-btn {
        border: none;
        padding: 0.8rem 1rem;
        cursor: pointer;
        width: 100%;
        background: var(--Primary-300);
        color: var(--Static-white);
      }
    }

  }
}


/* 할인 */
.red-txt {
  color: var(--System-error);
}

.gray-txt {
  margin-left: 4px;
  color: var(--Text-200);
}